<!--<div id="<%#= dom_id event %>">-->
<div class="container">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.event_date %>
  </p>
  <strong>Until event:</strong>
  <p id="demo">
    <script>
        event_time(<%= raw(event.event_date.to_i*1000) %>);
    </script>
  </p>
</div>