<!--<p style="color: green"><%#= notice %></p>-->

  <h1>Events</h1>
  <% @events.each do |event| %>
    <% if event.user == current_user %>
      <div class="container border border-5 border-dark my-3 py-3 px-3">
        <%= render event %>
        <%= link_to "Show this event", event %>
      </div>

    <% end %>
  <% end %>

<%= link_to "New event", new_event_path %>
