<!--<p style="color: green"><%#= notice %></p>-->

<div id="container ">
  <h1>Events</h1>
  <% @events.each do |event| %>
    <% if event.user == current_user %>
      <div class="row border border-1 border-dark">

        <%= render event %>
        <%= link_to "Show this event", event %>
      </div>

    <% end %>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
